NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001/ws
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# Testnet contract addresses (deployed 2026-08-03)
NEXT_PUBLIC_CONTRACT_BETTING_POOL=CCQL5BQL6VTYT65VS6MEAV5BZHLL56HFV26BZ42S2PDX4RRWDDOJPBAY
NEXT_PUBLIC_CONTRACT_HOUSE_ESCROW=CBUS4DARZVEFYKNCS3DSQ5FPX7INL6CLK56IFTWGGXOQL6P3OANETGYW
NEXT_PUBLIC_CONTRACT_BET_TOKEN=CDE5BT4IMHZYMJCHW4SJ5MFJCJ6UHECUJ5ETBUMGZCOGN7Z6DTZS6HTT
